/* ---- .grid-item ---- */

#grid {
  -moz-column-width: 20em;
  -webkit-column-width: 20em;
  column-width: 20em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;

}

.grid-sizer,
.grid-item {
  display: inline-block;
  /* margin:  0.25rem; */
  width:  100%; 
  background:  #efefef;
}

.grid-item {
  float: left;
  margin: 5px;
  text-align: center;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.interior {  
  position: absolute;  
}

.loader {
  display:inline-block; 
  width: 30px;
  margin-left: 10px;
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {

  #grid {
          -moz-column-width: 12em;
          -webkit-column-width: 12em;
  }
  
}